.imgSize {
    width: 300px;
    height: 300px;
}

.webPageColor {
    background-color: #F3E9DD;
}

.webPageColor2 {
    background-color: #F3E9DD;
    font: italic small-caps bold 1.2em "Fira Sans", sans-serif;
}

.webPageFont {
    font-family: 'Kalam', cursive;
}


h1 {
    font-size: 380%;
}

p {
    font-size: 120%;
}

.textJustify {
    text-align: justify;
}

.banner1Color {
    background: #FDF6EC;
}

.bannerFontColor {
    color: #15133C;
}

.paraColor1 {
    color: #0066CC;
}

.paraColor2 {
    color: #1FA3F5;
}

.iconResize {
    font-size: 2rem;
}

.iconColor {
    color: #15133C;
}

.iconColor2 {
    color: black;
}

/* Remove underline for anchors tag*/
a {
    text-decoration: none;
}

.socialIcons i:hover {
    color: #1CB297;
}

.navBarTextColor a:hover {
    color: black;
}

.buttonColor button:hover {
    color: white;
    background: #1CB297;

}


.textAreaHeight {
    height: 100%;
}

#textSpaceHeight {
    height: 200px;
}
