.imgSize {
    width: 300px;
    height: 300px;
}

.webPageColor {
    background-color: #F3E9DD;
    font: italic small-caps bold 16px/2 cursive;
}

.banner1Color {
    background: #FDF6EC;
}

.bannerFontColor {
    color: #15133C;
}

.iconResize {
    font-size: 2rem;
}

.iconColor {
    color: #15133C;
}

.iconColor2 {
    color: black;
}

/* Remove underline for anchors tag*/
a {
    text-decoration: none;
}

.socialIcons i:hover {
    color: #29d1b3;
}

.navBarTextColor a:hover {
    color: black;
}